.link{
    font-family: 'Helvetica';
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
    padding: 10px;
    margin-top: 8px;
}

.linksWrapper{
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 35px;
    z-index: 100000;
}