.wrapper{
    width: 800px;
    height: 350px;
    background-color: black;
    opacity: 0.56;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: visible;
}

.text{
    color: #fff;
    text-align: center;
    font-size: 28px;
    font-family: 'Montserrat';
    font-weight: bold;
    width: 610px;
    height: 170px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.button{
    width: 190px;
    height: 45px;
    background-color: #fff;
    font-size: 14px;
    font-family: 'Montserrat';
    color: #000;
    position: absolute;
    top: 0;
    left: calc(50%);
    border-radius: 5px;
    transform: rotate(-90deg);
    border: none;
    outline: 0px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.button:hover{
    background-color: blue;
    color: #fff;
}